
.headerStyle{
    background-color: #000000;
    height: 10vh;
    margin:0;
}

.ulStyle{
    display: flex;
    margin-left: 50vw ;
}
.liStyle{
    margin:10px;
    background-color: #c53434;
    color: white;
    text-decoration: none;
}

